
.my-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;

}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width:100%;
}

.btnApp {
  margin-top: 1rem;
  border: none;
 
  color: black;
  padding: 1rem 4rem;
  font-size: large;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc;
}

.btnApp:hover{
  background-color:  #ffe0e0;
}

.date-picker{
  display: flex;
  justify-content: space-around;
  width:30%;
}

.btn:hover{
  background-color: #6d66666f;
}


.search-wrapper{
  width:20%;
  position: relative;
  transform: translateX(-145%);
  background-color: #fff;
  border-radius: 10px; /* Optional for rounded corners */
}

.search-bar {
  height:20px;
  background-color: transparent;
  width: 90%; /* Make the search bar take full width */
  padding: 1em 0.5em; /* Add padding to the right to make space for the icon */
 
  border: none;
 
}

.search-icon {
  position: absolute;
  right: 10px; /* Position the icon inside the input on the right */
  top: 40%;
  transform: translateY(-50%);
  color: #6759ff;
  pointer-events: none; /* Ensure the icon doesn't interfere with typing */
  font-size: 16px; /* Adjust the size of the icon */
}
